.asabranca-content{
    box-sizing: border-box;
    padding-bottom: 30px;
    background-color: #f6eedd;
    min-height: calc(100vh - 121px + 260px);
}

.asabranca-content .container{
    width: 74%;
}

.carousel {
    margin: auto;
    width: 100%;
    height: 500px;
}

.carousel-inner>.item>img {
    position: relative;
    min-width: 100%;
    height: 500px;
}

.carousel-indicators{
    display: block;
    top: 70%;
}

.asabranca-content .container .content-infos{
    margin-top: calc(-230px + 131px);
    background-color: #f9f5ed;
    padding: 35px 50px 25px 50px;
    border: solid 1px rgba(0, 0, 0, .3);
    position: relative;
    z-index: 10;
    border-radius: 4px;
    width: 100%;
}

.asabranca-content .container .infos .name{
    padding: 35px 0;
    padding-top: 0;
    box-sizing: border-box;
    text-align: center;
}

.asabranca-content .container .infos .name li{
    font-size: 32px;
    font-weight: bolder;
    color:#333530;
    margin: 0;
    list-style-type: none;
    padding-left: 0;
}

.asabranca-content .container .infos .name li:before{
    content: '';
    padding: 0;
    display: inline-block;
    height: 25px;
    width: 22px;
    margin-right: 6px;
}

.asabranca-texto{
    text-align: justify;
}
.content-posts{
    padding: 50px;
}