<div class="row profile">
  <div class="col-md-3 col-md-offset-2 perfil">
    <div class="img">
      <img src="" alt="">
      <input type="file" name="" id="">
    </div>
    <div class="informacoes">
      <div *ngIf="editarPerfil == false">
        <h2>
          {{this.loginService.user.name}}
        </h2>
        <p>
          {{this.loginService.user.email}}
        </p>
        <ul>
          <li>
            Quixadá-ce
          </li>  
        </ul>
        <div class="editar">
          <a (click)="editar()">Editar</a>
        </div>
      </div>
    </div>
    <div class="pessoal">
      <ul>
        <!-- <li><a href="">minhas memórias</a></li> -->
        <li><a href="">estações</a></li>
      </ul>
    </div>
  </div>
  
  <div class="col-md-5 conteudo">
    <h2>Olá {{this.loginService.user.name}}</h2>
    <div class="posts" *ngFor = "let post of posts">
      <app-post-card [post] = post>
        
      </app-post-card>
    </div>
    <div class="conteudo-vazio" *ngIf = "posts == 0">
      <p>
        Você ainda não escreveu nenhum relato
      </p>
      <button>
        Escrever
      </button>
    </div>
  </div>
</div>
