<div class="row profile">
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <a id="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">x</span>
          </a>
          <h1 class="modal-title" id="myModalLabel">Editar perfil</h1>
        </div>
        <div class="modal-body">
          <form action="">
            <div>
              <label class="addFile" for="file">Adicionar foto</label>
              <input type="file" name="avatar" id="file" (change)="handleFileInput($event)">
            </div>
            <div class="form-group">
              <label for="nome">Nome:</label>
              <input type="text" [(ngModel)]="nome" name="nome">
            </div>
            <div class="form-group">
              <select [(ngModel)]="estado" (change)="onSelect($event.target.value)" id="sel1" name="estado" required>
                <option value="-1" disabled="disabled"> Selecione seu estado</option>
                <option *ngFor="let estado of estados" value={{estado.id}}>
                  {{estado.nome}}
                </option>
              </select>
            </div>
            <div class="form-group">
              <select [(ngModel)]="cidade" name="cidade" required>
                <option value="" disabled="disabled"> Selecione sua cidade</option>
                <option *ngFor="let cidade of cidades" value={{cidade.id}}>
                  {{cidade.nome}}
                </option>
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <a data-dismiss="modal" id="cancelar">Cancelar</a>
          <button class="botao" type="button" data-dismiss="modal" (click)="atualizarUsuario($event)">Salvar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-md-offset-2 perfil">
    <div class="img" *ngIf="!user || !user.avatar">
      <img src="../../assets/img/avatar.png" alt="">
    </div>
    <div class="img" *ngIf="user && user.avatar">
        <img [src]="urlImg() | safe: 'resourceUrl'" alt="">
    </div>
    <div class="informacoes" *ngIf="user">
      <div>
        <h2>
          {{this.user.name}}
        </h2>
        <p>
          {{this.user.email}}
        </p>
        <ul *ngIf="user && user.cidade">
          <li>
            {{this.user.cidade}}
          </li>
        </ul>
      </div>
    </div>
    <div class="pessoal">
      <ul>
        <li *ngIf="user && loginService.user && loginService.user._id == user._id">
          <a href="" data-toggle="modal" data-target="#myModal">Editar perfil</a>
        </li>
        <li>
          <a href="" routerLink="/estacoes">Estações</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-5 conteudo" *ngIf="user">
    <h2 *ngIf="user && loginService.user && loginService.user._id == user._id">Olá, {{this.user.name}}</h2>
    <h2 *ngIf="user && (!loginService.user || loginService.user._id != user._id)">Perfil de {{this.user.name}}</h2>
    <div class="posts" *ngFor="let post of posts | sortgrid : '-date'">
      <app-post-card [post]=post [station]=flag>

      </app-post-card>
    </div>
    <div *ngIf="posts.length == 0 && user && loginService.user && loginService.user._id == user._id">
      <div class="conteudo-vazio">
        <p>
          Você ainda não adicionou nenhuma memória
        </p>
        <button id="comecar" routerLink="/comofunciona">
          Começar
        </button>
      </div>
    </div>

    <div *ngIf="posts.length == 0 && user && (!loginService.user || loginService.user._id != user._id)">
      <div class="conteudo-vazio">
        <p>
          {{user.name}} ainda não adicionou nenhuma memória
        </p>
      </div>
    </div>

  </div>
</div>
