<div class="row profile">
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <a id="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">x</span>
          </a>
          <h1 class="modal-title" id="myModalLabel">Editar perfil</h1>
        </div>
        <div class="modal-body">
          <form action="">
            <div>
              <label class="addFile" for="file">Adicionar foto</label>
              <input type="file" name="avatar" id="file" (change)="handleFileInput($event)">
            </div>
            <div>
              <label for="nome">Nome:</label>
              <input type="text">
            </div>
            <div>
              <label for="titulo">Estado:</label>
              <input type="text">
            </div>
            <div>
              <label for="titulo">Cidade:</label>
              <input type="text">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <a data-dismiss="modal" id="cancelar">Cancelar</a>
          <button class="botao" type="button" data-dismiss="modal" (click)="atualizarUsuario($event)">Salvar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-md-offset-2 perfil">
    <div class="img" *ngIf="!user.avatar">
      <img src="../../assets/img/avatar.png" alt="">
    </div>
    <div class="img" *ngIf="user.avatar">
        <img [src]="urlImg() | safe: 'resourceUrl'" alt="">
    </div>
    <div class="informacoes">
      <div>
        <h2>
          {{this.loginService.user.name}}
        </h2>
        <p>
          {{this.loginService.user.email}}
        </p>
        <ul>
          <li>
            {{this.loginService.user.cidade}}
          </li>
        </ul>
      </div>
    </div>
    <div class="pessoal">
      <ul>
        <li>
          <a href="" data-toggle="modal" data-target="#myModal">editar perfil</a>
        </li>
        <li>
          <a href="">estações</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-5 conteudo">
    <h2>Olá, {{this.loginService.user.name}}</h2>
    <div class="posts" *ngFor="let post of posts">
      <app-post-card [post]=post>

      </app-post-card>
    </div>
    <div *ngIf="posts.length == 0">
      <div class="conteudo-vazio">
        <p>
          Você ainda não adicionou nenhuma memória
        </p>
        <button id="comecar">
          Começar
        </button>
      </div>
    </div>

  </div>
</div>