<div class="row mapa">
  <div class="selecione">
    <img src="../../assets/img/marcador_1.png" alt="">
    <h1>Selecione uma estação no mapa</h1>
  </div>
  <div class="content-mapa col-md-4 col-md-offset-4">
    <img src="../../assets/img/mapa_completo.png" alt="">
  </div>
</div>
<div class="sobre">
  <div class="logo">
    <img src="../../assets/img/logo_2.png" alt="">
  </div>
  <div class="row">
    <div class="col-md-4">
      <h2>Selecione uma estação no mapa</h2>
      <div class="imagem">
        <!-- <img src="../../assets/img/bola_1.png" alt=""> -->
      </div>
    </div>
    <div class="col-md-4">
      <h2>Poste um relato na estação selecionada</h2>
      <div class="imagem">
        <img src="../../assets/img/bola_2.png" alt="">
      </div>
    </div>
    <div class="col-md-4">
      <h2>Compartilhe o seu relato no Facebook</h2>
      <div class="imagem">
        <img src="../../assets/img/bola_3.png" alt="">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="botao">
      <button>Começar</button>
    </div>
  </div>
</div>
<div class="outro">
  <input type="text">
  <input type="text">
  <div class="botao">
    <button class="botao-verde">Botão</button>
  </div>
</div>