.mapa{
    width: calc(100vw - 2px);
    box-sizing: border-box;
    padding: 30px;
    background-image: url("/assets/img/textura_1.png");
    background-repeat: no-repeat;
    background-color: #E9D4A9;
    background-size: cover;
    padding-bottom: 200px;
}
.mapa .selecione{
    margin-left: 120px;
    margin-top: 30px;
    width: 350px; 
    height: 80px;
    text-align: left;
    box-sizing: border-box;
}

.mapa .selecione > h1{
    display: inline;
    padding: 0;
    padding-left: 5px;
    font-size: 30px;
}

.mapa .selecione > img{
    height: 25px;
    margin-bottom: 20px;
}

.mapa .content-mapa{
    width: 100%;
    text-align: center;
}

.mapa .content-mapa > img{
    width: 450px;
    box-sizing: border-box;
    margin-bottom: 100px;
}

.sobre{
    background-image: url("/assets/img/textura_2.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
    background-color: #b55480;
    background-size: cover;
    padding: 30px;
}

.sobre .logo{
    width: 700px;
    box-sizing: border-box;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 30px;
}

.sobre .logo img{
    width: 100%;
}

.botao{
    width: 200px;
    margin: auto;
    padding-top: 75px;
    padding-bottom: 30px;
}

.outro{
    background-image: url("/assets/img/textura_3.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
    background-color: #CED186;
    padding: 100px 30px;
    padding-top: 150px;
    background-size: cover;
}

h2{
    margin: auto;
    text-align: center;
    color: #E9D4A9;
    padding: 30px;
    padding-top: 10px;
}

.imagem{
    margin: auto;
    height: 210px;
    width: 210px;
    background-color: #E9D4A9;
    border-radius: 50%;
}

.imagem img{
    width: 100%;
}

.outro input{
    border-radius: 8px;
    display: block;
    margin: auto;
    border: 1px solid transparent;
    font-size: 18px;
    padding: 7px 10px;
    background-color: #ffff;
    opacity: 0.6;
    box-shadow: none;
    box-sizing: border-box;
    width: 300px;
    outline: none;
    margin-top: 30px;
    margin-bottom: 30px;
}


.Pacatuba-hover {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 300px;
    left: 889px;
    display: none;

}

.cidades > a .Pacatuba-hover{
    display: block;
}
