<div class="row mapa">
  <!-- <div class="alert alert-success alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <h4><strong>Bem-Vindo ao Memórias Sobre Trilhos</strong></h4>
    <h5>Olá, o seu perfil espera por auterações. Que tal realizá-las agora mesmo?</h5>
  </div> -->
  <div class="selecione">
    <img src="../../assets/img/marcador_1.png" alt="">
    <h1>Selecione uma estação no mapa</h1>
  </div>
  <div class="content-mapa">
    <app-stations-map></app-stations-map>
  </div>
</div>
<div class="sobre">
  <div class="content-sobre">
    <div class="logo">
      <img src="../../assets/img/logo_2.png" alt="">
    </div>
    <div class="row">
      <div class="col-md-4">
        <h2>Selecione uma estação no mapa</h2>
        <div class="imagem">
          <img src="../../assets/img/bola_1.png" alt="">
        </div>
      </div>
      <div class="col-md-4">
        <h2>Poste um relato na estação selecionada</h2>
        <div class="imagem">
          <img src="../../assets/img/bola_2.png" alt="">
        </div>
      </div>
      <div class="col-md-4">
        <h2>Compartilhe o seu relato no Facebook</h2>
        <div class="imagem">
          <img src="../../assets/img/bola_3.png" alt="">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="botao">
        <button class="button" routerLink="/cadastro">Começar</button>
      </div>
    </div>
  </div>
</div>
<div class="asa-branca">
  <div class="col-md-6">
    <div class="imagem-sonho">
      <img src="../../assets/img/trem.jpg" alt="">
    </div>
  </div>
  <div class="row">
    <div class="descricao col-md-5">
      <h1>Expresso Asa Branca</h1>
      <br>
      <h4>Os trilhos que percorrem o mapa deste site são inspirados na trajetória percorrida pelo Expresso Asa Branca! Um famoso
        trem que transportava passageiros de Fortaleza a Recife entre 1965 e 1988.
      </h4>
      <br>
      <h4> Quer saber mais sobre o Sonho Azul e descobrir memórias sobre ele?</h4>
    </div>
  </div>
  <!-- <input type="text">
  <input type="text"> -->
  <div class="row botao">
    <div class="col-mg-10">
      <button class="button botao-verde" routerLink="/sonho-azul">Veja mais</button>
    </div>
  </div>
</div>