<header>
    <nav>
      <div class="logo">
        <a href="" routerLink="/home"><img src="../../assets/img/logo_1.png" alt=""></a>
      </div>
    <div class="links">
      <div class="estacoes">
        <a href="" routerLink="/home">Estações<span><img src="" alt=""></span></a>
      </div>
      <a href="" routerLink="/cadastro">Cadastro</a>
      <a href="" routerLink="/login">Login</a>
    </div>
  </nav>
  <div class="pesquisar">
    <input type="text" placeholder="Pesquise por cidade"><button id="pesquisa">buscar</button>
  </div>
</header>
<!-- <div class="dropdown-estacoes">
  <span id="estacoes-close">x</span>
  <ul>
    <li><a href="">Fortaleza</a></li>
    <li><a href="">Pacatuba</a></li>
    <li><a href="">Baturité</a></li>
    <li><a href="">Caio Prado</a></li>
    <li><a href="">Quixadá</a></li>
    <li><a href="">Quixaramobim</a></li>
    <li><a href="">Senador Pompeu</a></li>
    <li><a href="">Piquet Carneiro</a></li>
    <li><a href="">Acopiara</a></li>
    <li><a href="">Iguatu</a></li>
    <li><a href="">Baixio</a></li>
  </ul>
</div> -->
