<div class="comofunciona-content">
  <div class="container">
    <div class="content-infos">
      <div class="row infos">
        <div class="name">
          <li>Como funciona</li>
        </div>
      </div>
    </div>
  </div>
  <div class="sobre">
    <div class="row">
      <div class="col-md-4">
        <h2>Selecione uma estação no mapa</h2>
        <div class="imagem">
          <img src="../../assets/img/bola_1.png" alt="">
        </div>
      </div>
      <div class="col-md-4">
        <h2>Poste uma memória na estação selecionada</h2>
        <div class="imagem">
          <img src="../../assets/img/bola_2.png" alt="">
        </div>
      </div>
      <div class="col-md-4">
        <h2>Compartilhe a sua memória no Facebook</h2>
        <div class="imagem">
          <img src="../../assets/img/bola_3.png" alt="">
        </div>
      </div>
    </div>
  </div>
  <div id="accordion">
    <h4 class="accordion-toggle">Cadastro<img class="seta" src="assets/img/seta.png"></h4>
    <div class="accordion-content">
      <h4>1. Para cadastrar-se clique em "Cadastro", localizado na barra superior.</h4>
      <img class="imagem" src="assets/img/cadastro1.jpg">
      <h4>2. Em seguida, preencha o formulário com seus dados e clique no botão "Cadastrar"</h4>
      <img class="imagem" src="assets/img/Cadastro.JPG">
    </div>
    <h4 class="accordion-toggle">Login <img class="seta" src="assets/img/seta.png"></h4>
    <div class="accordion-content">
      <h4>1. Para realizar o login clique em "Login", localizado na barra superior.</h4>
      <img class="imagem" src="assets/img/login1.jpg">
      <h4>2. Em seguida, preencha o formulário com email e senha cadastrados e clique no botão "Entrar"</h4>
      <img class="imagem" src="assets/img/login2.jpg">
    </div>
    <h4 class="accordion-toggle">Configurações de Perfil<img class="seta" src="assets/img/seta.png"></h4>
    <div class="accordion-content">
      <h4>1. Clique em seu nome, localizado na barra superior. Logo após clique em "Editar perfil".</h4>
      <img class="imagem" src="assets/img/editar_perfil.PNG">
      <h4>2. Surgirá um formulário. Para alterar a foto de perfil selecione o botão "Adicionar foto". Para mudar o nome de usuário,
        adicionar estado e cidade preencha o formulário. Clique em Salva e suas informações de perfil serão atualizadas.
      </h4>
      <img class="imagem" src="assets/img/selecionar_imagem.jpg">
    </div>
    <h4 class="accordion-toggle">Como postar uma memória <img class="seta" src="assets/img/seta.png"></h4>
    <div class="accordion-content">
      <h4>1. Selecione uma estação no mapa.</h4>
      <img class="imagem" src="assets/img/mapa_comofunciona.jpg">
      <h4>2. Para postar um relato, digite no campo de texto e clique em "Postar".</h4>
      <img class="imagem" src="assets/img/relato_comofunciona.jpg">
      <h4>3. Para postar uma foto, selecione a aba "Foto", clique no botão "Escolher arquivo",
        digite a legenda e clique em "Postar".</h4>
      <img class="imagem" src="assets/img/foto_comofunciona.jpg">
      <h4>4. Para postar uma vídeo, selecione a aba "Vídeo", cole a URL no campo indicado,
        digite uma legenda e clique em "Postar".</h4>
      <img class="imagem" src="assets/img/video_comofunciona.jpg">
    </div>
    <div class="content-posts">
    </div>
  </div>
