.comofunciona-content{
    box-sizing: border-box;
    padding-bottom: 30px;
    background-color: #E9D4A9;
    background-image: url("/assets/img/textura_1.png");
    min-height: calc(100vh - 121px + 260px);
    width: 100vw;
}

.comofunciona-content .container{
    width: 74%;
}

.comofunciona-content .container .content-infos{
    margin-top: calc(-230px + 131px);
    padding: 35px 50px 25px 50px;
    position: relative;
    z-index: 10;
    border-radius: 4px;
    width: 100%;
}

.comofunciona-content .container .infos .name{
    margin-top: 100px;
    padding: 35px 0;
    padding-top: 0;
    box-sizing: border-box;
    text-align: center;
}

.comofunciona-content .container .infos .name li{
    font-size: 32px;
    font-weight: bolder;
    color:#333530;
    margin: 0;
    list-style-type: none;
    padding-left: 0;
}

.comofunciona-content .container .infos .name li:before{
    content: '';
    padding: 0;
    display: inline-block;
    height: 25px;
    width: 22px;
    margin-right: 6px;
}

.seta{
    float: right;
    padding: 2px;
    max-height: 20px;
    max-width: 20px;
}
.content-posts{
    padding: 50px;
}
.accordion-content h4{
    line-height: 25px;
    padding-left: 15px;
    padding-right:15px;
    text-align: justify;
}
#accordion{
    padding-top: 40px;
}
.accordion-toggle {
    margin-left: 300px;
    margin-right: 300px;
    padding-left: 200px;
    cursor: pointer;
    background: rgba(58, 50, 29, 0.5);
    border-radius: 5px;
    padding: 10px;
    color: white;
}

.accordion-content {  
    margin-left: 200px;
    margin-right: 200px;
    display: none;
    box-sizing: border-box;
    text-align: center;
    padding-top: 20px;
    border-radius: 5px;
    border: solid 1px #333530;
    padding-bottom: 10px;
}

.accordion-content .imagem{
    max-height: 500px;
    max-width: 700px;
    padding-bottom: 20px;
    border: solid 1px #333530;
    border-radius: 5px;
}

.sobre{

    background-size: cover;
    text-align: center;
  }

.sobre .imagem {
    margin: auto;
    height: 210px;
    width: 210px;
    background-color: #E9D4A9;
    border-radius: 50%;
    box-sizing: border-box solid rgb(0,0,0,0.1);
  }
  
.sobre .imagem img {
    width: 100%;
    border-radius: 50%;
  }
  h2 {
    margin: auto;
    text-align: center;
    padding: 30px;
  }
  