<div class="comofunciona-content">
  <div class="container">
    <div class="content-infos">
      <div class="row infos">
        <div class="name">
          <li>Informações básicas</li>
        </div>
        <div id="accordion">
          <h3 class="accordion-toggle">Cadastro</h3>
          <div class="accordion-content">
            <p>Asaaa</p>
          </div>
          <h3 class="accordion-toggle">Configurações de Perfil</h3>
          <div class="accordion-content">
            <p>Asaaa</p>
          </div>
          <h3 class="accordion-toggle">Como postar uma memória</h3>
          <div class="accordion-content">
            <h4>1. Selecione uma estação no mapa.</h4>
            <img class="imagem" src="assets/img/mapa_comofunciona.jpg">
            <h4>1. Para postar um relato, digite no campo de texto e clique em "Postar".</h4>
            <img class="imagem" src="assets/img/relato_comofunciona.jpg">
            <h4>1. Para postar uma foto, selecione a aba "Foto", clique no botão "Escolher arquivo",
              <br>digite a legenda e clique em "Postar".</h4>
            <img class="imagem" src="assets/img/foto_comofunciona.jpg">
            <h4>1. Para postar uma vídeo, selecione a aba "Vídeo", cole a URL no campo indicado,
              <br>digite uma legenda e clique em "Postar".</h4>
            <img class="imagem" src="assets/img/video_comofunciona.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content-posts">
  </div>
</div>