<div class="equipe">
  <div class="row">
    <div class="imagem col-md-3">
      <img src="../../assets/img/lucas.png" alt="">
    </div>
    <div class="col-md-3 nome"> 
      <h4>Antonio Lucas</h4>
      <br>Técnico em Informática
      <br> Graduando em Design Digital
    </div>

    <div class="imagem col-md-3">
      <img src="../../assets/img/bruna.png" alt="">
    </div>
    <div class="col-md-3 nome" >
        <h4>Antonio Lucas</h4>
        <br>Técnico em Informática
        <br> Graduando em Design Digital
    </div>
  </div>
  <div class="row">
    <div class="imagem col-md-3">
      <img src="../../assets/img/jhonny.png" alt="">
    </div>
    <div class="col-md-3 nome"> 
        <h4>Antonio Lucas</h4>
        <br>Técnico em Informática
        <br> Graduando em Design Digital
    </div>

    <div class="imagem col-md-3">
      <img src="../../assets/img/raissa.png" alt="">
    </div>
    <div class="col-md-3 nome">
        <h4>Antonio Lucas</h4>
        <br>Técnico em Informática
        <br> Graduando em Design Digital
    </div>
  </div>

  <div class="row">
    <div class="imagem col-md-3">
      <img src="../../assets/img/rayanne.png" alt="">
    </div>
    <div class="col-md-6 nome"> 
        <h4>Antonio Lucas</h4>
        <br>Técnico em Informática
        <br> Graduando em Design Digital
    </div>
  </div>