<div class="post">
  <div class="post-container" [ngClass]="postBorder">
    <div class="post-user">
      <div class="user-image" *ngIf="!post.user.avatar">
        <img src="../../assets/img/avatar.png" alt="">
      </div>
      <div class="user-image" *ngIf="post.user.avatar">
        <img [src]="urlImgAvatar() | safe: 'resourceUrl'" alt="">
      </div>
      <div class="post-infos">
        <div class="infos">
          <a href="" class="user-name" (click)="userProfile()">{{post.user.name}}</a>
          <div class="dropdown">
              <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <span class="glyphicon glyphicon-option-horizontal"></span>  
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </div>
        </div>
        
        <div class="time">
          {{ post.date | timeAgo }}
        </div>
        
      </div>
    </div>

    <div class="post-content">
      <div class="content" *ngIf="post.content">
        <img [src]="urlImg() | safe: 'resourceUrl'" alt="">
      </div>
      <div class="video" *ngIf="post.video">
        <iframe [src]="safeUrl(this.post.video)" frameborder="0" scrolling="no"  allownetworking></iframe>
      </div>
      <div class="description">
        {{post.description}}
      </div>
    </div>
    

    <div class="post-footer">
      <div class="gostar">
        <a href="#" *ngIf="post.likes.length > 0">{{post.likes.length}}</a>
        <div *ngIf="deuLike">
          <button (click)="like($event)"><img src="../../assets/img/gostar.png">Gostar</button>
        </div>
        <div *ngIf="!deuLike">
          <button (click)="like($event)"><img src="../../assets/img/liked.png">Gostar</button>
        </div>
      </div>
      <div class="interaction">
        <button (click)="comentar($event)"><img src="../../assets/img/comentar.png">Comentar</button>
        <div class="compartilhar">
          <button ceiboShare [facebook]="{u: repoUrl}"><img src="../../assets/img/compartilhar.png">Compartilhar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="comentarios" [ngClass]="comentario">
    <div class="comentario-list" *ngFor="let comment of comments">
      <app-comment [comment]=comment></app-comment>
    </div>
    <div *ngIf="this.loginService.userLogged()">
      <div class="comentario-input">
          <div class="image" *ngIf="!post.user.avatar">
            <img src="../../assets/img/avatar.png" alt="">
          </div>
          <div class="image" *ngIf="post.user.avatar">
            <img [src]="urlImgAvatar() | safe: 'resourceUrl'" alt="">
          </div>
          <input [(ngModel)]="text" name="text" type="text" placeholder="Adicione um comentário">
          <button type="submit" (click)="insert($event)">Enviar<img src="../../assets/img/enviar.png"></button>
      </div>
    </div>
  </div>

</div>