.post-container{
  width: 600px;
  height: 450px;
  display: block;
  margin: auto;
  padding-top: 20px;
  box-sizing: border-box;
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  background-color: #f9f5ed;
}

.post-container .post-user{
  padding: 20px;
  padding-top: 0;
}

.post-container .post-user .user-image{  
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
}

.post-container .post-user .user-image img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.post-container .post-user .user-name{
  padding-left: 8px;
  display: inline-block;
}

.post-container .post-content{
  padding: 10px 45px 30px 45px;
  position: relative;
  z-index: 10px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

.post-container .post-footer{
  width: 100%;
  height: 80px;
  padding: 20px;
  border-radius: 0 0 12px 12px;
}

.post-container .post-footer div{
  display: inline-block;
  font-size: 16px;
  line-height: 40px;
}

.post-container .post-footer .interaction{
  float: right;
}
