.post{
  width: 600px;
  display: block;
  margin: auto;
}

.post-container .content img, .post-container .video iframe{
  max-width: 100%;
}

.post-container{
  width: 100%;
  box-sizing: border-box;
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  background-color: #f9f5ed;
}

.comentar-border{
  border-radius: 12px 12px 0 0;
}

.post-container .post-user{
  padding: 20px;
  box-sizing: border-box;
}

.post-container .post-user .user-image{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
  background-color: #f6eedd;
}

.post-container .post-user .user-image img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.post-container .post-user .post-infos{
  float: right;
  width: 490px;
  height: 60px;
  padding-bottom: 10px;
  padding-left: 2px;
}

.post-container .post-user .user-name{
  font-size: 25px;
  display: inline-block;
}

.post-container .post-user .time{
  font-size: 12px;
  color: #bbb;
  width: 90%;
}

.options{
  float: right;
  height: 20px;
  width: 40px;
  font-size: 18px;
  cursor: pointer;
  color: #3E4238;
  background-color: none;
  border: none;
  user-select: none;
}

.post-container .post-content{
  min-height: 55px;
  position: relative;
  z-index: 10px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

.post-container .post-content .content, .post-container .video iframe{
  padding: 0px;
}

.post-container .post-content .description{
  padding: 10px 45px;
  font-size: 18px;
}

.post-container .video iframe{
  height: 400px;
  width: 600px;  
}

.post-container .post-footer{
  width: 100%;
  padding: 10px 17px;
  border-radius: 0 0 12px 12px;
}

.post-container .post-footer div{
  display: inline-block;
  font-size: 16px;
  line-height: 40px;
}

.post-container .post-footer .interaction{
  float: right;
}

.video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
  }
  
  .video iframe,
  .video object,
  .video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  }

.comentarios{
  width: 600px;
  min-height: 80px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 0 0 12px 12px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-top: none;
  background-color: #f9f5ed;
}

.comentar-display{
  display: none;
}

.comentarios .comentario-input{
  width: 100%;
  padding: 10px;
  height: 65px;
  box-sizing: border-box;
  display: block;
}

.comentarios .comentario-input .image{
  display: inline-block;
  height: 45px;
  width: 45px;
  background-color: #f6eedd;
  border-radius: 50%;
}

.comentarios .comentario-input .image img{
  width: 45px;
  height: 45px;
  display: inline-block;
  border-radius: 50%;
}

.comentarios .comentario-input input{
  width: 422px;
  display: inline-block;
  height: 45px;
  font-size: 16px;
  padding: 6px 9px;
  background-color: #f9f5ed;
  border: none;
  box-shadow: none;
  box-sizing: border-box;
  outline: none;
}

button{
  display: inline-block;
  border: none;
  padding: 2px;
  box-shadow: none;
  box-sizing: border-box;
  outline: none;
  color: #3E4238;
  cursor: pointer;
  font-size: 15px;
  background-color: #f9f5ed;
  margin: 0 3px;
}

button:hover{
  color: #56989B;
}

button img{
  display:inline-block;
  padding-right: 6px;
  width: 32px;
}

.gostar button{
  padding-left: none;
}

.gostar button img{
  width: 30px;
}

.compartilhar button img{
  width: 27px;
}

.comentarios .comentario-input button{
  display: inline-block;
  border: none;
  padding: 2px;
  box-shadow: none;
  box-sizing: border-box;
  outline: none;
  color: #3E4238;
  cursor: pointer;
  background-color: #f9f5ed;
}

.comentarios .comentario-input button:hover{
  color: #56989B;
}

.comentarios .comentario-input button img{
  display:inline-block;
  padding-left: 6px;
  width: 28px;
}
