<div class="post">
  <div class="post-container" [ngClass]="postBorder">
    <div class="post-user">
      <div class="user-image" *ngIf="!post.user.avatar">
        <img src="../../assets/img/avatar.png" alt="">
      </div>
      <div class="user-image" *ngIf="post.user.avatar">
        <img [src]="urlImgAvatar() | safe: 'resourceUrl'" alt="">
      </div>
      <h3 class="user-name">
        <a href="" (click)="userProfile()">{{post.user.name}}</a>
      </h3>
    </div>

    <div class="post-content">
      <div class="content" *ngIf="post.content">
        <img [src]="urlImg() | safe: 'resourceUrl'" alt="">
      </div>
      <div class="video" *ngIf="post.video">
        <iframe [src]="safeUrl(this.post.video)" frameborder="0" scrolling="no" autoplay="0" allowfullscreen></iframe>
      </div>
      <div class="description">
        {{post.description}}
      </div>
    </div>

    <div class="post-footer">
      <div class="time">
        {{ post.date | timeAgo }}
      </div>
      <div class="interaction">
        <a href="#" (click)="usersLikes($event)" *ngIf="post.likes.length > 0">{{post.likes.length}}</a>
        <a href="#" (click)="like($event)">Gostar</a>
        <a href="#" (click)="comentar($event)">Comentar</a>
        <div class="compartilhar">
          <a href="" ceiboShare [facebook]="{u: repoUrl}">Compartilhar</a>
        </div>
      </div>
      <div class="gostei"></div>
    </div>
  </div>
  <div class="comentarios" [ngClass]="comentario">
    <div class="comentario-list" *ngFor="let comment of comments | sortgrid : '-date'">
      <app-comment [comment]=comment></app-comment>
    </div>
    <div *ngIf="this.loginService.userLogged()">
      <div class="comentario-input">
        <input [(ngModel)]="text" name="text" type="text"><button type="submit" (click)="insert($event)">Ok</button>
      </div>
    </div>

  </div>
</div>