<div class="comment">
  <div class="comment-content">
    <div class="user-image">
      <!-- <img src="" alt=""> -->
    </div>

    <div class="content">
      <div class="">
        <div class="user-name">
          <a href="#">{{ comment.user.name }}</a>
        </div>
        <div class="comment-text">
          {{ comment.text }}
        </div>
      </div>
      <div class="interaction">
        <div class="time">
          {{ comment.date | timeAgo }}
        </div>
        <div class="gostar">
          <a href="">gostar</a>
        </div>
      </div>
    </div>

  </div>
</div>