<div class="comment">
  <div class="comment-content">
    <div class="user-image" *ngIf="!comment.user.avatar">
      <img src="../../assets/img/avatar.png" alt="">
    </div>
    <div class="user-image" *ngIf="comment.user.avatar">
      <img [src]="urlImg() | safe: 'resourceUrl'" alt="">
    </div>

    <div class="container">
      <div class="infos">
        <div class="user-name">
          <a href="#">{{ comment.user.name }}</a>
        </div>
        <div class="comment-text">
          {{ comment.text }}
        </div>
      </div>
      <div class="interaction">
        <div class="time">
          {{ comment.date | timeAgo }}
        </div>
        <div class="gostar">
          <a href="#" *ngIf="comment.likes.length > 0">{{comment.likes.length}}</a>
          <button *ngIf="!loginService.user || (comment.user._id != loginService.user._id && !deuLike)" (click)="like($event)">
            <img src="../../assets/img/gostar.png">Gostar
          </button>
          <button *ngIf="loginService.user && deuLike" (click)="like($event)">
            <img src="../../assets/img/liked.png">Gostar
          </button>
        </div>
        <a *ngIf="loginService.user && comment.user._id == loginService.user._id" class="dropdown options">
          <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="glyphicon glyphicon-option-horizontal"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li>
              <a href="#">
                <img src="../../assets/img/compartilhar.png">Compartilhar</a>
            </li>
            <li>
              <a href="#">
                <span class="glyphicon glyphicon-pencil"></span>Editar</a>
            </li>
            <li>
              <a href="#" (click)="remove($event)">
                <span class="glyphicon glyphicon-trash"></span>Remover</a>
            </li>
          </ul>
        </a>
      </div>
    </div>

  </div>
</div>