<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header" routeLinkActive="active">
      <a class="navbar-brand" href="/header">Brand</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li routeLinkActive="active">
          <a routerLink= "/usuario"> AAA </a>
        </li>
        <li routeLinkActive="active">
          <a  routerLink= "/cadastro">Cadastro</a>
        </li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">busca</button>
      </form>
    </div>
  </div>
</nav>