.station-content{
    box-sizing: border-box;
    padding: 30px 0;
    padding-top: 0;
    background-image: url("/assets/img/textura_1.png");
    background-repeat: no-repeat;
    background-color: #E9D4A9;
    background-size: cover;
}

.station-content .image{
    width: 100%;
    height: calc(100vh - 131px - 60px - 20px);
}

.station-content .image img{
    width: 100%;
    height: 100%;
}

.station-content .container .infos .name{
    padding: 25px 0;
}

.station-content .container .infos .name li{
    font-size: 25px;
    color:#333530;
    margin: 0;
    list-style-type: none;
    padding-left: 0;
}

.station-content .container .infos .name li:before{
    content: '';
    padding: 0;
    display: inline-block;
    height: 20px;
    width: 17px;
    margin-right: 6px;
    background-image: url("/assets/img/marcador_1.png");
    background-size: 100% 100%;
}

.station-content .container .infos .users{
    height: 85px;
    padding: 17px 0;
}

.station-content .container .infos .users .qtd{
    color:#333530;
    box-sizing: border-box;
    height: 50px;
    font-size: 16px;
    float: right;
    line-height: 50px;
    margin-right: 15px;
}

.station-content .container .infos .users .user-image{
    border-radius: 50%;
    background-color: #ccc;
    display: inline-block;
    margin-right:7px;
    height: 50px;
    width: 50px;
}
.station-content .container .estacao-menu{
    width: 95%;
    margin: auto;
}

.nav li{
    border: none;
}

.nav li a{
    cursor: pointer;
    font-size: 18px;
    padding: 7px 10px;
    color: #b55480;
    background-color: #E9D4A9;
    border-radius: 4px 4px 0 0;
    border-bottom-color: rgba(0, 0, 0, .1);
}

.nav li a:hover{
    background-color: rgba(0, 0, 0, .1);
    border-radius: 4px 4px 0 0;
    border: 1px solid rgba(0, 0, 0, .1);
}

.nav .active{
    border: 1px solid rgba(0, 0, 0, .1);
    border-bottom-color: transparent;
    border-radius: 4px 4px 0 0;
}

.tab-content{
    width: 100%;
    min-height: 210px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 4px 4px 0 0;
    border-top-color: transparent;
}

.tab-pane{
    width: 100%;
    margin: 0 5%;
    box-sizing: border-box;
    overflow: auto;
}

textarea, input{
    display: block;
    color:#333530;
    width: 90%;
    border-radius: 6px;
    border: 1px solid transparent;
    font-size: 18px;
    padding: 7px 10px;
    box-shadow: none;
    box-sizing: border-box;
    outline: none;
    background-color: #ffff;
    opacity: 0.6;
    margin: 20px 0;
    resize: none;
}

.botao{
    display: block;
    width: 90%;
    box-sizing: border-box;
}

.botao button{
    float: right;
    border-radius: 8px;
    text-align: center;
    width: 150px;
    border: none;
    font-size: 18px;
    padding: 10px 30px;
    color: #E9D4A9;
    background-color: #333530; 
    cursor: pointer;
    user-select: none;
    box-shadow: 1px 1px 2px #333530;
    margin-bottom: 20px;
    box-sizing: border-box;
}
