<div class="station-content">
  <div class="image">
    <img src="../../assets/img/capa_fortaleza.png" alt="">
  </div>
  <div class="container">

    <div class="content-infos">
      <div class="row infos">
        <div class="name">
          <li>Fortaleza </li>
        </div>
        <!-- <div class="users">
              <div class="user-image">
                <img src="" alt="">
              </div>
              <div class="user-image">
                <img src="" alt="">
              </div>
              <div class="user-image">
                <img src="" alt="">
              </div>
              <div class="qtd">
                <p>
                  + 40 pessoas
                </p>
              </div>
            </div> -->
        <div class="withoutLogin" *ngIf="!this.loginService.userLogged()">
          <p>Para realizar uma postagem é necessário fazer login.</p>
          <a href="" routerLink="/login">Realizar Login</a>
          <br>
          <span>
            <p>ainda não é cadastrado?</p>
            <a href="" routerLink="/cadastro">Realizar Cadastro</a>
          </span>
        </div>
      </div>

      <div class="estacao-menu" *ngIf="this.loginService.userLogged()">
        <ul class="nav nav-tabs nav-justified">
          <li role="presentation" class="active">
            <a href="#relato" aria-controls="relato" role="tab" data-toggle="tab">Relato</a>
          </li>
          <li role="presentation">
            <a href="#foto" aria-controls="foto" role="tab" data-toggle="tab">Foto</a>
          </li>
          <li role="presentation">
            <a href="#video" aria-controls="video" role="tab" data-toggle="tab">Vídeo</a>
          </li>
        </ul>

        <div class="tab-content">

          <div role="tabpanel" class="tab-pane active" id="relato">
            <div class="input">
              <textarea name="" id="" rows="3" placeholder="Descreva um relato sobre a sua experiência na Estação de Fortaleza"></textarea>
            </div>
            <div class="botao">
              <button type="submit">
                Postar
              </button>
            </div>
          </div>

          <div role="tabpanel" class="tab-pane" id="foto">
            <div class="input">
              <input type="text" placeholder="Adicione uma legenda para a sua foto">
            </div>
            <div class="botao">
              <button type="submit">
                Postar
              </button>
            </div>
          </div>

          <div role="tabpanel" class="tab-pane" id="video">
            <div class="input">
              <input type="text" placeholder="Adicione o link do vídeo">
              <input type="text" placeholder="Adicione uma legenda para o vídeo">
            </div>
            <div class="botao">
              <button type="submit">
                Postar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="content-posts">
      <app-post-card></app-post-card>
    </div>
  </div>
</div>