<div class="viewport">
  <div class="container-fluid">
    <div class="form">
      <form #myForm="ngForm">
        <div class="form-group" [ngClass]="{'has-error': !name.valid && (name.dirty || name.touched)}">
          <input [(ngModel)]="nome" class="form-control" name="nome" type="text" id="inputName" placeholder="Nome" #name="ngModel"
            required>
          <span class="help-block" *ngIf="name.errors && (name.dirty || name.touched)">
            <ul>
              <li *ngIf="name.errors.required">
                Por favor, preencher o campo
              </li>
            </ul>
          </span>
        </div>
        <div class="form-group" [ngClass]="{'has-error': !emailvalidate.valid && (emailvalidate.dirty || emailvalidate.touched)}">
          <input [(ngModel)]='email' class="form-control" name='email' type="email" id="inputEmail" placeholder="Email" email #emailvalidate="ngModel"
            required>
          <span class="help-block" *ngIf="emailvalidate.errors && (emailvalidate.dirty || emailvalidate.touched)">
            <ul>
              <li *ngIf="emailvalidate.errors.email">
                Por favor, preencher o campo com um Email válido
              </li>
            </ul>
          </span>
        </div>
        <div class="form-group" [ngClass]="{'has-error': !senhavalidate.valid && (senhavalidate.dirty || senhavalidate.touched)}">
          <input [(ngModel)]="password" class="form-control" name="password" type="password" id="inputPassword" placeholder="Senha"
            #senhavalidate="ngModel" required password>
          <span class="help-block" *ngIf="senhavalidate.errors && (senhavalidate.dirty || senhavalidate.touched)">
            <ul>
              <li *ngIf="senhavalidate.errors.required">
                Por favor, preencher o campo
              </li>
            </ul>
          </span>
        </div>
        <div class="form-group">
          <select [(ngModel)]="estado" (change)="onSelect($event.target.value)" id="sel1" name="estado" required>
            <option value="-1" disabled="disabled"> Selecione seu estado</option>
            <option *ngFor="let estado of estados" value={{estado.id}}>
              {{estado.nome}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <select [(ngModel)]="cidade" name="cidade" required>
            <option value="" disabled="disabled"> Selecione sua cidade</option>
            <option *ngFor="let cidade of cidades" value={{cidade.id}}>
              {{cidade.nome}}
            </option>
          </select>
        </div>
        <div>
          <button type="submit" class="submit" [disabled]="!myForm.valid" (click)="addUsuario($event)">Cadastrar</button>
        </div>
      </form>
    </div>
  </div>
</div>
