*{
    margin:0;
    padding: 0;
}

.container-fluid{
    width:100%;
    position: relative;
}

form{
    margin-top: 20px;
    display: inline-block;
    position: relative;
}

input, select{
    border-radius: 8px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    font-size: 18px;
    padding: 7px 10px;
    background-color: #ffff;
    opacity: 0.6;
    box-shadow: none;
    box-sizing: border-box;
    width: 360px;
    outline: none;
    box-shadow: 1px 1px 2px #333530;
}

.viewport{
    padding: 50px;
    background: url('/assets/img/textura_1.png');
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    background-position: center;
    background-size: cover;
    background-color: #E9D4A9;
    min-height: calc(100vh - 121px - 260px);
}

.submit{
    float: right;
    border-radius: 8px;
    text-align: center;
    width: 150px;
    border: none;
    font-size: 18px;
    padding: 10px 30px;
    color: #E9D4A9;
    background-color: #3E4238; 
    cursor: pointer;
    user-select: none;
    box-shadow: 1px 1px 2px #3E4238;
    margin-bottom: 20px;
    box-sizing: border-box;
}