*{
    margin:0;
    padding: 0;
}

.voltar a{
    display: block;
    text-align: left;
    font-family:"Century Gothic";
    text-decoration: none;
    color:#30322B;
    margin-left: 33%;
}

.volt{
    max-height: 30px;
    max-width: 20px; 
    padding: 5px;  
}

.container-fluid{
    width:100%;
    overflow: auto;
    position: relative;
}

.form-horizontal{
    display: inline-block;
    position: relative;
}

.botao-facebook{
    background-color: #485992;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12;
    border-radius: 5px;
    width: 250px;
}

.facebook{
    max-height: 40px;
    max-width: 30px;
}

form{
    margin-top: 20px;
}

input, select{
    border-radius: 8px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    font-size: 18px;
    padding: 7px 10px;
    background-color: #ffff;
    opacity: 0.6;
    box-shadow: none;
    box-sizing: border-box;
    width: 360px;
    outline: none;
    box-shadow: 1px 1px 2px #333530;
}

.viewport{
    padding: 50px;
    background: url('/assets/img/textura_1.png');
    background-repeat: no-repeat;
    overflow: auto;
    position: relative;
    text-align: center;
    background-position: center;
    background-size: cover;
    background-color: #E9D4A9;
}

.submit{
    float: right;
    border-radius: 8px;
    text-align: center;
    width: 150px;
    border: none;
    font-size: 18px;
    padding: 10px 30px;
    color: #E9D4A9;
    background-color: #333530; 
    cursor: pointer;
    user-select: none;
    box-shadow: 1px 1px 2px #333530;
    margin-bottom: 20px;
    box-sizing: border-box;
}