.quem_somos {
    background-color: #56989B;
    background-image: url("/assets/img/textura_5.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 30px;
    font-size: 16px;
    color: #E9D4A9;
    text-align: center;
    min-width: 100%;
    box-sizing: border-box;
    padding-bottom: 50px;
}


.logo {
    width: 700px;
    box-sizing: border-box;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 30px;
}

.logo img {
    width: 100%;
}

.sobre_nos {
    padding-top: 30px;
    font-size: 15pt;
    text-align: center;
    padding-bottom: 30px;
    color: #E9D4A9;
    line-height: 35px;
    padding-bottom: 100px;
}

.sobre {
    background-image: url("/assets/img/textura_4.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
    background-color: #b55480;
    background-size: cover;
    padding: 30px;
}

.titulo {
    text-align: center;
    margin: auto;
    padding-top: 40px;
}

.titulo img {
    max-width: 100px;
}

.titulo-missao {
    text-align: center;
    margin: auto;
    padding-top: 100px;
}

.titulo-missao img {
    max-width: 150px;
}

.fim {
    background-image: url("/assets/img/textura_3.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
    background-color: #CED186;
    padding: 100px 30px;
    background-size: cover;
    text-align: center;
  }
  .download{
      text-align: center;
  }

  .download img {
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 20px;
}

.fim .sobre_nos {
    padding-top: 80px;
    font-size: 15pt;
    text-align: center;
    padding-bottom: 30px;
    color: rgb(48, 29, 0);
    line-height: 35px;
}

.comecar{
    display: block;
    margin-top: 40px;
    font-size: 15pt;
    padding-top: 20px;
    line-height: 35px;
    text-align: center;
    padding-bottom: 5px;
    background: rgba(255, 238, 196, 0.5);
    border-radius: 5px;
    margin-left: 200px;
    margin-right: 200px;
}
.comecar .botao{
    padding: 20px;
}

.button{
    color: #E9D4A9;
    background: #533F2C;
}
