<div class="quem_somos">
  <div class="logo">
    <img src="assets/img/logo_2.png" alt="">
  </div>
  <div class="sobre_nos">Memórias Sobre Trilhos é uma plataforma colaborativa que reúne e resgata histórias
    <br> ferrovias cearenses. O site foi projetado buscando auxiliar pesquisadores, historiadores
    <br>e curiosos à encontrar informações acerca dos trens e das ferrovias cearenses, através de
    <br>memórias compartilhadas por usuário. </div>
</div>

<div class="sobre">
  <div class="content-sobre">
    <div class="titulo">
      <img src="assets/img/missao.png">
    </div>
    <div class="sobre_nos">Oferecer uma plataforma onde os usuários possam compartilhar suas memórias de forma simples e eficiente,
      <br> e ao mesmo tempo oferecer um acervo online de fotos, relatos e vídeos que possa ser consultado por
      <br> terceiros afim de pesquisas sobre as ferrovias cearenses</div>
  </div>
</div>

<div class="fim">
  <div class="sobre_nos">Ainda tem dúvidas sobre o que é o Memórias Sobre Trilhos? Saiba mais sobre nós <br>fazendo o download do nosso artigo!</div>
  <div class="download">
    <a href="https://github.com/BrunaN/Memorias-Sobre-Trilhos/raw/development/project/src/assets/Artigo%20-%20Vers%C3%A3o%20Final%20-%20com%20peersonas.pdf "
      download>
      <img src="assets/img/download.png">
    </a>
  </div>
  <div class="sobre_nos">Se você já entendeu como trabalhamos, que tal começar agora?</div>
  <div class="botao">
    <button class="button" routerLink="/cadastro">Começar</button>
  </div>
</div>